
body {
    background-color: #EEEEEE;
} 
h1 {
    color: #A460ED;
}
h2 {
    color: #07f171;

}
h3 {
    color: #07f171;
}
hr {
    background-color: #EEEEEE;
    border-style: none;
    height: 2px;
    border-top: dotted;
    border-color: #a7d8a5;
    border-width: 5px;
    width: 10%;